<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button data-dismiss="modal" class="close">&times;</button>
                <h4>Login</h4>
                <form action="/api/v1/users/login" method="POST">
                    <input type="text" id="loginName" class="username form-control" placeholder="Username" />
                    <input type="password" id="loginPass" class="password form-control" placeholder="password" />
                    <input class="btn login" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
</diV>